html {
  font-size: 62.5%; }

/*----------------------------------------------------------------------------*/
body {
  background-color: #fffbdc;
  color: #9a8b68;
  text-align: center;}
  body h1 {
    font-size: 23px;
    font-size: 2.3rem; }
  body h2 {
    font-size: 18px;
    font-size: 1.8rem; }
  body p {
    font-size: 13px;
    font-size: 1.3rem; }
  body a {
    font-size: 23px;
    font-size: 2.3rem; }
  @media (min-width: 550px) {
    body h1 {
      font-size: 25px;
      font-size: 2.5rem; }
    body h2 {
      font-size: 20px;
      font-size: 2rem; }
    body p {
      font-size: 15px;
      font-size: 1.5rem; } }
